<template>
  <div>
    <div class="nav-bar">
      Navigation bar
      <ul>
        <li>
          <router-link to="/">Home</router-link>
        </li>
        <li>
          <router-link to="/vuetify">Go to Vuetify</router-link>
        </li>
      </ul>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
import SpNavigation from '@/components/shared/layout/SpNavigation'

export default {
  name: 'layout',
  components: { SpNavigation }
}
</script>
<style lang="scss" scoped>
</style>
