<template>
  <div></div>
</template>

<script>
import router from '@/router'
export default {
  methods: {
    menuClick (item) {
      item.call && item.call()
      if (item.route) {
        router.push({ name: item.route })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
