<template>
  <div>
    <h1>Vuetify</h1>
    <vuetify-comps></vuetify-comps>
  </div>
</template>
<script>
import VuetifyComps from '@/components/vuetify-coms'

export default {
  name: 'vuetify',
  components: {
    VuetifyComps
  }
}
</script>
