<template>
  <v-form>
    <v-container>
      <v-layout row wrap>

        <v-flex xs12>
          <v-text-field
            label="Regular"
          ></v-text-field>
        </v-flex>

      </v-layout>
    </v-container>
  </v-form>
</template>

<script src="./scripts.js"></script>
<style src="./styles.scss" lang="scss" scoped></style>
